<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <link href="css/ionic.app.css" rel="stylesheet">

    <style type="text/css">
      .platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px;
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
      .show-list-numbers-and-dots ul{
        list-style-type: disc;
        padding-left:40px;
      }
      .show-list-numbers-and-dots ol{
        list-style-type: decimal;
        padding-left:40px;
      }
    </style>

    <script src="js/controllers/menu.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/routes.js"></script>

    <script src="js/services/seguranca.js"></script>
    <script src="js/services/usuarios.js"></script>


    <!-- Only required for Tab projects w/ pages in multiple tabs
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
    -->

  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div>
  <ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-stable header_vermelho" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right" id="side-menu21">
      <ion-content ng-controller="menuCtrl" padding="false" class="side-menu-right has-header ">
        <ion-list data-componentid="list1" style="top:-44px" id="menu">
          <ion-item class="item border_none item-icon-left"  ui-sref="home()" menu-close="" data-componentid="list-item15">
            <i class="icon ion-ios-home-outline"></i>
            Home
          </ion-item>
          <ion-item class="item border_none item-icon-left" ng-click="isLogado('meuperfil')" menu-close="" data-componentid="list-item25">
            <i class="icon ion-ios-person-outline"></i>
            Meu perfil
          </ion-item>
          <ion-item class="item border_none item-icon-left" ui-sref="receitas()" menu-close="" data-componentid="list-item8">
            <i class="icon ion-ios-bookmarks-outline"></i>
            Receitas
          </ion-item>
          <ion-item class="item border_none item-icon-left" ui-sref="ondeencontrar()" menu-close="" data-componentid="list-item34">
            <i class="icon ion-ios-search"></i>
            Onde encontrar
          </ion-item>
          <ion-item class="item border_none item-icon-left" ng-click="isLogado('favoritos')" menu-close="" data-componentid="list-item16">
            <i class="icon ion-ios-heart-outline"></i>
            Favoritos
          </ion-item>
          <ion-item class="item border_none item-icon-left"  ng-click="isLogado('faleconosco')" menu-close="" data-componentid="list-item24">
            <i class="icon ion-ios-email-outline"></i>
            Fale conosco
          </ion-item>
          <ion-item class="item border_none item-icon-left" data-componentid="list-item23" ng-click="share()">
            <i class="icon ion-ios-people-outline"></i>
            Convidar amigos
          </ion-item>
          <ion-item ng-if="!logado" class="item border_none item-icon-left" ui-sref="login()" menu-close="" data-componentid="list-item12">
            <i class="icon ion-android-exit"></i>
            Fazer login
          </ion-item>
          <ion-item ng-if="logado" class="item border_none item-icon-left" ng-click="sair()" menu-close="" data-componentid="list-item33">
            <i class="icon ion-android-exit rotate-180"></i>
            Sair
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</div>
  </body>
</html>
