<ion-view title="login" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <h4 class="text-center">Bem vindo ao Ualabi</h4>
    <form id="login" class="list">
      <label class="item item-input" id="login-input1">
        <input type="email" placeholder="Digite seu e-mail" ng-model="dadosLogin.login">
      </label>
      <label class="item item-input" id="login-input2">
        <input type="password" placeholder="Digite sua senha" ng-model="dadosLogin.password">
      </label>
      <button ng-click="login(objeto)" id="login-button4" style="font-weight:500;" class="button button-balanced button-block">Entrar</button>
    </form>
  </ion-content>
</ion-view>
